.hero {
    @media screen and (min-width: 768px) {
        align-items: center;
    }

    display: flex;
    gap: 48px;

    margin: auto;
    padding: 64px 24px;
    max-width: 1200px;

    &.inverted {
        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
        }
    }

    &-image {
        flex: 1;

        img {
            display: block;
            width: 100%;
            border-radius: 20px;
        }
    }

    &-content {
        flex: 1;
    }

    &-subtitle {
        margin-bottom: 12px;
        color: #777;
    }

    h1 {
        margin-bottom: 24px;
        font-size: 48px;
    }

    &-text {
        margin-bottom: 32px;
        line-height: 1.6;
    }

    &-button {
        display: inline-block;
        padding: 14px 24px;
        background: black;
        color: white;
        text-decoration: none;

        border-radius: 8px;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        h1 {
            font-size: 32px;
        }
    }
}