@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color_title:#ff0057;
    --color_text: #666666;
    --color_dark: #000000;
    --color_light:white;
    --color_background: #f7f7f7;
    --radius-md: 12px;
    --radius-lg: 18px;
    --shadow-md: 0 10px 30px rgba(0,0,0,0.04);
    --transition-base: 0.3s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.color_light {
    color: var(--color_light);
}

.color_primary {
    color: var(--color_title);
}

.bg_background {
    background-color: var(--color_background);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: sans-serif;
}

figure {
    margin: 0;
}

    h1,h2,h3,h4,h5,h6 {
        color: var(--color_title);
        font-family: "Noto Serif", serif;
        
        span:not(.color_light) {
            color: var(--color_dark);
        }
}