@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color_title:  red;
    --color_text:   #666666;
    --color_dark:   #000000;
    --color_light:  #f7f7f7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.color_light {
    color: var(--color_light);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: sans-serif;
}

figure {
    margin: 0;
}

.severin {
    h1,h2,h3,h4,h5,h6 {
        color: var(--color_title);
        font-family: "Noto Serif", serif;
        
        span:not(.color_light) {
            color: var(--color_dark);
        }
    }
}